<article class="profile__titles grid__item one-half hidden-palm" 
	data-intro="<h4 class='intro__title'>Titles</h4>Your Titles here are sortable, so place them how ever you would like by dragging the sort icon. Remove the Title with the Remove Icon." 
	data-step="3">
	<ul id="titles_sortable">
		{{! titles go here }}
	</ul>
</article>
