<li class="scientist-title sortable clearfix">
	<span class="float-left">
		<i class="icon-sort sort-handle"></i><br>
		<i class="icon-remove delete-title"></i>
	</span> 
	<span contenteditable="true" class="" data-attribute="title" data-order="{{order}}">
		{{title}}
	</span>
</li>