<h1 class="grid__item one-whole">Edit Your Profile</h1>
	<h4>As a distinguished scientist, you play a vital role in our continued collaboration to produce world-class research</h4>
{{#each model}}
	{{render "scientist-card" this}}
{{/each}}