
/* Mixin defined here because this is the only place it should be used. */
@mixin font-add( $font-family: "", $url: "", $font-weight: normal, $font-style: normal ) {
	@font-face {
    	font-family: "#{$font-family}";
    	src: url('../#{$url}.eot');
    	src: url('../#{$url}.eot?#iefix') format('embedded-opentype'),
    	     url('../#{$url}.woff') format('woff'),
    	     url('../#{$url}.ttf') format('truetype'),
    	     url('../#{$url}.svg##{$font-family}') format('svg');
    	font-weight: $font-weight;
    	font-style:  $font-style;
	}
}

/* ========================================
	Custom Fonts
   ======================================== */
@include font-add("SourceSansProRegular", "source-sans-pro/SourceSansPro-Regular-webfont");
@include font-add("SourceSansProLight", "source-sans-pro/SourceSansPro-Light-webfont");
@include font-add("Raleway", "raleway/raleway");
@include font-add("Steelfish", "steelfish/steelfish");
@include font-add("Steelfish", "steelfish/steelfish-italics", normal, italic);
@include font-add("Ubuntu", "ubuntu/ubuntu");
