.mainHeader {

}

.right {
	text-align: right;
}
.center {
	margin: 0 auto;
	text-align:center;
}
.cyclotronTitle {
	font-size: 4rem;
	font-weight: 400;
	letter-spacing: 10px;
	text-align: center;
	font-family: "Steelfish";
	margin: .5rem 0 0.5rem .75rem;
}
.mainContent {
	// text-align: center;
	display: inline-block;
	max-width: 1200px;
	float: left;
	// margin: 0 auto;
}

.hero {
	background: darken(#0A7B99, 21%);
	color: $off-white;
	padding: 0 1rem;
	border-bottom: darken(#A4D3EE, 30%) 4px solid;
	background: darken(#0A7B99, 21%) url("/assets/img/tiny_grid1.png") 10px 8px repeat repeat;

	p {
		text-align: justify;
		font-size: 1rem;
		font-weight: 300;
	}

}
.info {

}
.block {
	width:auto;
}
.card {
	border: #252525 3px solid;
	border-radius: 4px;
	text-align: left;
	min-width: 200px;
	max-width: 300px;
	margin: 0.5rem 0;

	p {
		padding: .25rem;
		text-align: left;

		margin:0;
	}
}
.card__sq {
	width:100px;
	height:100px;
	background: blue;
	color: white;
	position: relative;
	text-align: center;
	left: 0;
	float: left;
	margin: 0 .25rem .25rem 0;

	h4 {
		position: absolute;
		top: 4%;
	}

}
.frame--circle {
	border-radius: 100%;
	padding: 3px;
	border: #222 4px solid;
	background: $off-white;
}