<% @news.each do |article| %>
    <ul>
        <li>
            <div class="news_article">
                <div class="title">
                    <%= article.title %>
                </div>
                <div class="date">
                    <%= article.date %>
                </div>
                <div class="text">
                    <%= article.body %>
                </div>
                <div class="url">
                    <%= article.url %>
                </div>
            </div>
        </li>
    </ul>
<% end %>