
/* ==========================================================================
   Cyclotron-Base
   ========================================================================== */

*, *:before, *:after {
	@include border-box();
}

html {
    font-size: $base-font-size;
    height:100%;
}
body {
    font-family: $main-fonts;
	height: 100%;
}


h1.xl{
	@include font-size(3);
}

/* ***************************************
   Emphasis sections
   *************************************** */