/* ==========================================================================
   Cyclotron-Base: opinionated defaults
   ========================================================================== */

/* ***************************************
   Variables
   *************************************** */

$headline-typeface: "Helvetica", "Arial", sans-serif;
$main-typefaces: "Helvetica", "Arial", "Verdana", sans-serif;

$lab-blue: 		#00395A; /* Laboratory Blue (Slightly better version) */
$lab-old-blue:  #0F405B; /* Laboratory Blue, According to lbl.gov banner */
$brand-color1: 	#008000; /* PBD Green */
$brand-color2: 	#ffd059; /* PBD Yellow */
$brand-color3: 	papayawhip; /* A nice cream color that goes well with green */

$use-page-max-width: false;
$page-max-width:1200px;

@if $use-page-max-width == true {
	$container-max-width: $page-max-width;
}


/* Mixin for using rem units with px fallback. Credit: Gabe Luethje */

@mixin font-size($sizeValue: 1.0) {
  font-size: ($sizeValue * 16 ) + px;
  font-size: $sizeValue + rem;
}

@mixin border-box() {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

@mixin buttonize($color: #252525, $percent: 10%) {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	border: darken($color, 10%) 1px solid;
	padding: .25em .5em;
	padding: .25rem .5rem;
	text-decoration: none;
	background: $color; /* fallback */
	background-image: -webkit-gradient(linear,left top,left bottom,from($color),to(darken($color, $percent))); /* chrome 2+, safari 4+ */
	background-image: -webkit-linear-gradient(top,$color,darken($color, $percent)); /* chrome 10+, safari 5.1+ */
	background-image: -moz-linear-gradient(top,$color,darken($color, $percent)); /* firefox */
	background-image: -ms-linear-gradient(top,$color,darken($color, $percent)); /* IE10 */
	background-image: -o-linear-gradient(top,$color,darken($color, $percent)); /* Opera 11.1 + */
	background-image: linear-gradient(top,$color,darken($color, $percent)); /* Standard */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color}', endColorstr='#{darken($color, $percent)}')";
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	@include border-box();
}


/* ***************************************
   Navigation
   *************************************** */
.mainHeader {
 
}
.mainContent {

}
.labNav {
	background: #00395A;
	color:#ffffff;
	font-weight:500;
	padding-bottom:.25em;
}
	.labNav__brand {
		max-width:80px;
		height:auto;
		padding-left:1em;
		display:inline;
	}

	.labNav__headline {
		@include font-size(1.25);
		vertical-align:top;
		padding:0.65em;
	}

	.labNav__link {
		font-size: .75em;
		color: #ffffff;
		text-decoration:none;

		&:hover {
			color: purple;
			text-decoration:underline;
		}
	}

.mainNav {

}

.mainNav__brand{

}
.mainNav__linkGroup{
	display: inline-block;
	padding: .5em;
	padding: .5rem;
	position: relative;

	&:hover{
		> .subNav {

		}
	}

}
.mainNav__link {
	text-align: center;
	color: #08C;
	text-decoration: none;
	@include font-size(1.125);
	vertical-align: bottom;
}

.subNav {
	position:absolute;
	opacity:0;
	left: -0.5%;
	width: 150%;
	-moz-transition: opacity 0.5s; 
	-webkit-transition: opacity 0.5s;  
	-ms-transition: opacity 0.5s;  
	-o-transition: opacity 0.5s;  
	transition: opacity 0.5s;
	z-index:5;
	border:#38679A 5px solid;
	background:#FAFAFA;
	display: none;

	.subNav__link {
		
		&:first-child{

		}

		&:hover {

		}

	}

}

.sideNav {

}

.sideNav--fixed {
	width:200px;
	display: inline-block;
	margin:0 0.5em 0 0;
	margin:0 0.5rem 0 0;
	border-right: #000 2px solid;
	height: 100%;


}
.sideNav--fixed__linkGroup {

}
.sideNav--fixed__link {
	background: $brand-color1;
	color: #FFFFFF;
	text-decoration: none;
	width:100%;
	display: block;
	border-top: #000 2px solid;
	text-align: center;
	/* -webkit-transition: top 0.2s; */
	@include border-box();
	margin:0;

	&:hover {
		color: $brand-color2;
	}
}
/* ***************************************
   Footers
   *************************************** */

.mainFooter {
	border-top: #292929 5px solid;
	background: #252525;
	padding: .5rem 1.5rem;
	color: #FFFFFF;
	margin: 0 auto;
}

.mainFooter__item {
	vertical-align: top;
	text-align: left;
}

/* ***************************************
   Tables
   *************************************** */
table.stripped {
	
	th {}
	
	tr {

		&:even{

		}
		
	}

	td {}

}

/* ***************************************
   Forms
   *************************************** */

/* ***************************************
   Images
   *************************************** */

/* ***************************************
   Buttons
   *************************************** */

/* make colors for buttons more flexible with variables */

.btn {
	margin: 0 .25em 0 0;
	margin: 0 .25rem 0 0;
	color: darken(#ffffff, 16%);
	@include buttonize(#757575, 4%);

	&:hover {
		color: #FFFFFF;
		@include buttonize(#757575, 8%);
	}
	&:active {
		@include buttonize(#757575, 12%);
	}
}

.btn--small {}

.btn--large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
}

.btn--3x {}

.btn--full {}

.btn--red {}

.btn--blue {
	margin: 0 .25em 0 0;
	margin: 0 .25rem 0 0;
	color: lighten(#145aca, 40%);
	@include buttonize(#145aca, 4%);
	
	&:hover {
		color: #FFFFFF;
		@include buttonize(#145aca, 8%);
	}
	&:active {
		@include buttonize(#145aca, 12%);
	}
}

.btn--green {
	margin: 0 .25em 0 0;
	margin: 0 .25rem 0 0;
	color: darken(#ffffff, 16%);
	@include buttonize(#008000, 4%);

	&:hover {
		color: #FFFFFF;
		@include buttonize(#008000, 8%);
	}
	&:active {
		@include buttonize(#008000, 12%);
	}
}

.btn--yellow {}

.btn--orange {}

/* ***************************************
   Footers
   *************************************** */

/* ==========================================================================
   Cyclotron-Base: Cool Extras
   ========================================================================== */

/* ***************************************
   Coins/Badges
   *************************************** */

/* ***************************************
   Emphasis sections
   *************************************** */