.sideNav--fixed {
	width:200px;
	display: inline-block;
	margin:0 8px 0 0;
	margin:0 0.5rem 0 0;
	border-right: #D6D6D6 2px solid;
	height: 100%;
	vertical-align: top;
	background-color: #EAEAEA;
	top: 0;
	z-index: 1;
}

.sideNav--fixed__header {
	text-align: center;
	padding: 16px 8px;
	padding: 1rem 0.5rem;
	color: #333;
	text-decoration: none;
}

.sideNav--fixed__linkGroup {

}

.sideNav--fixed__link {
	background-color: #DEDEDE;
	color: #333;
	text-decoration: none;
	width:100%;
	display: block;
	border-top: #DADADA 2px solid;
	border-bottom: #DADADA 2px solid;
	text-align: left;
	/* -webkit-transition: top 0.2s; */
	@include border-box();
	margin:2px 0 0 0;
	padding-left:45px; 

	&:hover {
		color: #0AF;
		background-color: #DADADA;
	}
}