<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>New User Confirmation</h1>
        <ul>
            <li>Name: <%= @user[:name] %></li>
            <li>Email: <%= @user[:email] %></li>
            <li>Eppn: <%= @user[:eppn] %></li>
        </ul>
    </body>
</html>