/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require cyclotron/cyclotron-style.scss
 *= require scientist
 *= require vendor/intro/introjs.css
 *= require vendor/idealforms/jquery.idealforms.min.css
 *= require_self
 */
body {
	background: #FAFAFA;
}
.main-content {
   display: inline-block;
   width: 100%;
   padding-left: 220px;
   min-height: 100%;
}
.mainContent {
	min-height: 100%;
}
.mainContent--fitted {
	min-height: 100%;
}
.sideNav--fixed {
	position: fixed;
}
.flash_notice {
	display: block;
	position: absolute;
	z-index: 3;
	background: #007000;
	width: 100%;
	color: #FAFAFA;
	text-align: center;
	border-bottom: #005900 5px solid;
	padding: .25rem 0;
}

.mainFooter__section {
	padding-bottom:1rem;
}
.mainFooter__title {
	border-bottom: 2px #FAFAFA solid;
	color: #FAFAFA;
}
.mainFooter__linkGroup {
	list-style: none;
	margin-left: 0;
	padding-left: 1rem;
}
