// Place all the styles related to the scientist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainContent--scientist {
	width:92%;
	width: -webkit-calc(100% - 250px);
	width: 	  -moz-calc(100% - 250px);
	width:         calc(100% - 250px);
	max-width: 1000px;
	display: inline-block;
	vertical-align: top;
	padding: 0 1.5em;
	padding:0 1.5rem;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
    margin:0 auto;
}
.scientistUnit {
	
	border:#000 2px solid;
	width:150px;
	margin: 0 1em 1em 0;
	margin: 0 1rem 1rem 0;

	&:hover {
		background: #EDEDED;
	}

}
.scientistCard {
	padding: .35em;
	padding: .35rem;
	text-align: center;
	height: 100%;
	width: 100%;
	position:relative;
	left:-12px;
	margin:0;

}
.scientistCard__thumb {
	display: block;
	max-width: 75px;
	text-align: center;
	border:#252525 2px solid;
	position:relative;
	left:12px;
	padding:.25em;
	padding:.25rem;
	
}
.scientistCard__name {
	text-align: center;
	position: relative;
	left:-6px;
}
.scientistCard__buttonGroup {
	text-align: center;
	position: relative;
	top:-12px;
}