td, th {
    min-width: 66px;
}

th {
    padding: 0 10px 0 10px;
}

tr {
    height: 40px;
    vertical-align: middle;
}

td {
    text-align: center;
}

// Stylings for the video form

label {
    margin-right: 10px;
}

div.input {
    margin-bottom: 10px;
}

// textarea.video_form {
//     min-width: 500px;
//     max-width: 100%;
// }

#all_videos {
    display: inline-block;
}