<% content_for :scripts do %>
	<%= render "bootstrap-backbone" %>
<% end %>
<div class="mainContent--fitted grid" id="mainContent">
	
	<div id="bb-container">
		<script id="main-outlet" type="text/x-handlebars-template">
			{{outlet main}}
		</script>
	</div>

	<script id="scientist-index-template" type="text/x-handlebars-template">
		<h1 class="grid__item one-whole">Edit Your Profile</h1>
		<h4>As a distinguished scientist, you play a vital role in our continued collaboration to produce world-class research</h4>
		<div id="scientists_list" class="scientistsList"></div>
	</script>

	<script id="scientist-edit-template" type="text/x-handlebars-template">
		<div class="profile__head" style="">
			<article class="grid__item one-quarter portable-one-whole">
				<img src="{{picture.picture.url}}" class="profile__img" data-intro="Hi  {{first_name}}. This is your intro to PBD profile!" data-step="1">
			</article>
		
			<section class="profile__name grid__item three-quarters lap-one-whole">
				<h1 style="display:inline-block">
					<span contenteditable="true" class="inline-editable" name="scientist_first_name" data-intro="<h4 class='intro__title'>Editing</h4>Editing is easy. Just click and edit inline!" data-step="2">
						{{first_name}}
					</span>
					<span contenteditable="true" class="inline-editable" name="scientist_last_name">
						{{last_name}}
					</span>
				</h1>
				<a href="#" class="button--green" id="action--Save">
					<i class="icon-save"></i> Save
				</a>
				<a href="#" class="button--red" id="action--Back">
					<i class="icon-remove-circle"></i> Exit
 				</a>

				<h2>
					<span contenteditable="true" class="inline-editable" id="scientist_primary_title">
						{{title}}
					</span>
				</h2>
				{{! This needs to be associated to scientist__titles model }}
				<article class="profile__titles grid__item one-half hidden-palm">

				</article>
				<article class="profile__websites grid__item one-half hidden-palm" 

				</article>
			</section>
		</div>

		<section class="profile__contact grid__item one-third portable-one-whole" 
			data-intro="<h4 class='intro__title'>Contact Info</h4>
			These Sections are just to make sure those who view your 
			profile will be able to get in contact with you. Make sure these are 
			correct. If you need support for multiple locations and emails, let 
			<a href='mailto:pbdwebmaster@lbl.gov'>PBD</a> know about it and we 
			will work with you" data-step="5">
		
			<article class="profile__location grid__item one-whole lap-one-half palm-one-whole">
				<h3>Contact Information</h3>
				<span>Primary Num:</span> 
				<span contenteditable="true" class="inline-editable" id="profile_phone1">
					{{profile.phone1}}
				</span><br>
				<span>
					Secondary Num:
				</span>
				<span contenteditable="true" class="inline-editable" id="profile_phone2">
					{{profile.phone2}}
				</span><br>
				<span>E-Mail:</span> 
				<span contenteditable="true" class="inline-editable" id="profile_email">
					<a href="{{profile.email}}">{{profile.email}}</a>
				</span><br>
			</article>
			<article class="profile__location grid__item one-whole lap-one-half palm-one-whole">
				<h3>Websites</h3>
				{{#each websites}}
					<a href="{{url}}">{{name}}</a>
				{{/each}}
			</article>
		</section>

		<section class=" profile__bio grid__item two-thirds lap-one-whole palm-one-whole">

			<article class="profile__emphasis" 
				data-intro="<h4 class='intro__title'>Emphasis and Research Summary</h4>
				These larger areas are special ones. HTML is allowed 
				inside this area, so you can style it however you 
				please. Even thrown in some pictures from another website! 
				We do not support direct uploads yet, but it is in the pipeline" 
				data-step="6">
				<h3>Research Emphasis:</h3>
				<div contenteditable="true" class="inline-editable" name="scientist_profile_emphasis">
					{{{profile.emphasis}}}
				</div>
			</article>

			{{#if profile.summary}}
			<article id="scientist__summary" class="profile__summary">
				<h3>Summary:</h3>
				<div contenteditable="true" id="profile_summary" class="inline-editable">
					{{{profile.summary}}}
				</div>
			</article>
			{{else}}
			<article id="scientist__summary" class="profile__summary">
				<h3>Add a Summary</h3>
				<div contenteditable="true" id="profile_summary" class="inline-editable">
					This is an **optional** area. Add a summary here!
				</div>
			</article>
			{{/if}}

		</section>

		{{! if can? :update, @scientist }}
			{{! link_to 'Edit', edit_scientist_path(@scientist) }}
		{{! end }}
		{{! link_to 'Back', scientists_path }}
	</script>
	<script id="scientist-card-template" type="text/x-handlebars-template">
		<article class="scientistUnit grid__item" id="scientist--{{this.slug}}">
			<div class="scientistCard">
				<a href="/scientists/{{this.id}}" class="navigate-profile" >
					<span class="scientistCard__name">{{this.first_name}} {{this.last_name}}</span><br>
					<img src="{{this.picture.picture.url}}" class="scientistCard__thumb">
				</a>
				{{! if can? :read, scientist }}
				<a href="/scientists/{{this.id}}" class="button--green navigate-profile">
					Edit
				</a>
				{{! end }}
				{{! link_to 'Show', scientist, :class => "button" }}
			</div>
		</article>
	</script>
	<script id="scientist-title-template" type="text/x-handlebars-template">
		<li class="scientist-title sortable clearfix">
			<span class="float-left">
				<i class="icon-sort sort-handle"></i><br>
				<i class="icon-remove delete-title"></i>
			</span> 
			<span contenteditable="true" class="" data-attribute="title" data-order="{{order}}">
				{{title}}
			</span>
		</li>
	</script>
</div>
