<div class="mainContent">
	<section id="scientist__info">
		<img src="http://pbd.lbl.gov/resources/img/people/{{picture_url}}" class="scientist__picture">
		<h2>{{prefix}} {{first_name}} {{last_name}}</h2>
		<h3>{{scientist_title}}</h3>
		<article>
			{{{positions_held}}}
		</article>
	</section>
	<section class="scientist__contact">
		<a href="{{department_url}}" title="{{department}}">
			{{department}}
		</a>
		<br>
		<br>
		<article class="scientist__address">
			<h3>Contact info:</h3>
			{{company}}<br>
			{{address1}}<br>
			{{address2}}<br>
			{{city}}, {{state}} {{zip_code}} USA<br>
		</article>
		<article class="scientist__location">
			{{#location}}
				<span id="location_html">{{{location}}}</span>
			{{/location}}
		</article>
		<table class="scientist__communication">
			<tr>
				<td>Primary Phone:</td>
				<td><a href="tel://{{phone1}}">{{phone1}}</a></td>
			</tr>
			{{#phone2}}
				<tr>
					<td>{{phone2_type}}:</td> 
					<td><a href="tel://{{phone2}}">{{phone2}}</a><td>
				</tr>
			{{/phone2}}
			<tr>
				<td>E-mail:</td>
				<td><a href="mailto:{{email}}">{{email}}</a></td>
			</tr>
		</table>
		<article class="scientist__web">
			{{#webname1}}
				<br>
				<h3>Websites:</h3><br>
				<a href="{{weburl1}}">{{webname1}}</a><br>
				{{/webname1}}
			{{#webname2}}
				<a href="{{weburl2}}">{{webname2}}</a><br>
			{{/webname2}}
		</article>
	<section class="scientist__bio">
		<article class="scientist__emphasis">
			<h3>Research Emphasis:</h3>
			<span id="emphasis_html">{{{emphasis}}}</span>
		</article>
		<article id="scientist__summary">
			{{#summary}}
				<h3>Summary:</h3>
				<span id="summary_html">{{{summary}}}</span>
			{{/summary}}
		</article>
		<article class="scientist__publications">
			<a href="{{publications_url}}" target="_blank">Publications</a>
		</article>
	</section>
</div>
<%= @scientist.first_name %>

<%= link_to 'Edit', edit_scientist_path(@scientist) %> |
<%= link_to 'Back', scientists_path %>
