<footer class="one-whole mainFooter" style="z-index:3;position:relative;">
	<section class="grid__item one-third portable-one-whole mainFooter__section">
		<h3 class="mainFooter__title">Berkeley Lab</h4>
		<ul class="mainFooter__linkGroup">
			<li><a href="http://www.lbl.gov/lab-index/">A-Z Index</a></li>
			<li><a href="http://newscenter.lbl.gov/">News Center</a></li>
			<li><a href="https://profile.lbl.gov/profiles">LBNL Profile</a></li>
			<li><a href="http://www.lbl.gov/ds/index.html">Phone Book</a></li>
		</ul>
	</section>
	<section class="grid__item one-third portable-one-whole mainFooter__section">
		<h3 class="mainFooter__title">Physical Biosciences</h4>
		<ul class="mainFooter__linkGroup">
			<li><a href="http://pbd.lbl.gov/PBD/news/news_featured.html">PBD News</a></li>
			<li><a href="http://pbd.lbl.gov/PBD/news/webcast.html">Webcasts</a></li>
			<li><a href="http://pbd.lbl.gov/PBD/people">Scientist Profiles</a></li>
		</ul>
	</section>
	<section class="grid__item one-third portable-one-whole mainFooter__section">
		<h3 class="mainFooter__title">Web Resources</h4>
		<ul class="mainFooter__linkGroup">
			<li>
				<a href="/pbdportal/docs/api">PBD API Docs</a>
			</li>
			<li><a href="mailto:pbdwebmaster@lbl.gov">Contact the Webmaster</a></li>
		</ul>
	</section>
</footer>