<nav class="sideNav--fixed">
    <div class="sideNav--fixed__header">
        <i class="icon-sitemap icon-large right"></i>
        Navigation
    </div>
    <div class="sideNav--fixed__linkGroup">
        <a href="edit-scientist_controller.php" class="sideNav--fixed__link">
            <i class="icon-beaker right"></i> Scientists
        </a>
    </div>
    <div class="sideNav--fixed__linkGroup">
            <a href="#" class="sideNav--fixed__link">
                <i class="icon-play-sign right"></i> Theater
            </a>
    </div>
    <div class="sideNav--fixed__linkGroup">
        <a href="#" class="sideNav--fixed__link">
            <i class="icon-group right"></i> Users 
        </a>
    </div>
    <% if can? :update, Video %>
        <div class="sideNav--fixed__linkGroup">
            <a href="/videos" class="sideNav--fixed__link">
               <i class="icon-play-sign right"></i> Videos
            </a>
        </div>
    <% end %>
    <% if can? :update, News %>
        <div class="sideNav--fixed__linkGroup">
            <a href="/news" class="sideNav--fixed__link">
                <i class="icon-rss-sign right"></i> News
            </a>
        </div>
    <% end %>
    <div class="sideNav--fixed__linkGroup">
        <a href="#" class="sideNav--fixed__link">
            <i class="icon-remove-sign right"></i> Log Out 
        </a>
    </div>
</nav>