<nav class="sideNav--fixed">
    <div id="sideNav--fixed__header">
        Navigation 
        <span class="icon-sitemap icon-large right"></span>
    </div>
    <div class="sideNav--fixed__linkGroup">
        <a href="edit-scientist_controller.php" class="sidNav--fixed__link">
            Scientists<i class="icon-beaker icon-large right"></i>
        </a>
    </div>
    <div class="sideNav--fixed__linkGroup">
        <a href="#" class="sideNav--fixed__link">
            Theater <i class="icon-facetime-video icon-large right"></i>
        </a>
    </div>
    <div class="sideNav--fixed__linkGroup">
        <a href="#" class="sideNav--fixed__link">
            Users <i class="icon-group icon-large right"></i>
        </a>
    </div>
    <div class="sideNav--fixed__linkGroup">
        <a href="#" class="sideNav--fixed__link">
            Log Out <i class="icon-remove-sign icon-large right"></i>
        </a>
    </div>
</nav> 