<footer class="mainFooter">
	<div class="grid">
		<article class="grid__item one-quarter lap-one-half palm-one-whole mainFooter__item">
			<h4>Associated Organizations</h4>
			<a href="" class="mainFooter__link">U.S. Department of Energy</a><br>
			<a href="" class="mainFooter__link">Office of Science</a><br>
			<a href="" class="mainFooter__link">University of California</a><br>
		</article>
		<article class="grid__item one-quarter lap-one-half palm-one-whole mainFooter__item">
			<h4>Getting in Touch</h4>
			<a href="pbdwebmaster@lbl.gov" class="mainFooter__link">Contact the Webmaster</a><br>
			<a href="/comments" class="mainFooter__link">Comments</a><br>
			<a href="" class="mainFooter__link">Privacy and Security Policies</a><br>
		</article>
		<article class="grid__item one-quarter lap-one-half palm-one-whole mainFooter__item">
			<h4>Common Links</h4>
			<a href="/people" class="mainFooter__link">Scientist Pages</a><br>
			<a href="/onestop" class="mainFooter__link">One Stop</a><br>
			<a href="/requests" class="mainFooter__link">Making a Request</a><br>
		</article>
		<article class="grid__item one-quarter lap-one-half palm-one-whole middle">
			<center>
				<%= image_tag "full_doe_logo_white.png", :width => "150" %><br>
				<%= image_tag "uc_seal_white.png", :width => "75" %>
			</center>
		</article>
	</div><!-- Close Grid -->
</footer>