<div class="grid">
	<header class="labNav">
		<div class="grid__item one-sixth visible-palm mobileNavButton">
			<a href="#mainNav" id="mobileNav">Menu</a>
		</div>
		<div class="grid__item seven-twelfths labNav__headline">
			<%= image_tag "lbnl_logo_stripped-120.png", :alt => "Laboratory logo", :width => "100" %>
			<span class="hidden-portable">Lawrence </span>
			<span>Berkeley</span> 
			<span class="hidden-portable">National </span>
			<span>Lab</span><!--
			--><span class="hidden-portable">oratory</span>
		</div>
		<nav class="grid__item one-sixth hidden-phone labNav__links">
			<a href="" target="_blank" class="labNav__link">A-Z Index</a>
			<a href="" target="_blank" class="labNav__link">Phonebook</a>
			<a href="" target="_blank" class="labNav__link">Careers</a>
		</nav>
		<div class="grid__item one-quarter labNav__DOE">
			U.S. DEPARTMENT OF<br>
			<span class="DOE__energy">ENERGY</span>
		</div>
	</header>
	<section class="crumbs">
		<div class="grid__item two-thirds">
			<div class="breadcrumb">
				<a href="/">Physical Biosciences</a>
			</div>
		</div>
		<div class="grid__item one-third right hidden-phone">
			<input type="search" placeholder="Search PBD">
		</div>
	</section>
	<nav class="mainNav">
		<div class="grid__item one-whole">
			<div class="mainNav__linkGroup">
				<a href="#" class="mainNav__link">About PBD</a>
				<nav class="subNav">
					<a href="#" class="subNav__link">
						Organization
					</a>
					<a href="#" class="subNav__link">
						PBD at a Glance
					</a>
					<a href="#" class="subNav__link">
						Leadership
					</a>
					<a href="#" class="subNav__link">
						Scientists
					</a>
					<a href="#" class="subNav__link">
						Affiliates
					</a>
					<a href="#" class="subNav__link">
						Administration
					</a>
				</nav>
			</div>
			<div class="mainNav__linkGroup">
				<a href="#" class="mainNav__link">Science</a>
				<nav class="subNav">
					<a href="#" class="subNav__link">
						Advanced Imaging
					</a>
					<a href="#" class="subNav__link">
						Genome Research
					</a>
					<a href="#" class="subNav__link">
						Molecular Machines
					</a>
					<a href="#" class="subNav__link">
						Systems Biology
					</a>
					<a href="#" class="subNav__link">
						Computational &amp; Theoretical Biology
					</a>
					<a href="#" class="subNav__link">
						Synthetic Biology
					</a>
					<a href="#" class="subNav__link">
						ABEX
					</a>
				</nav>
			</div>
			<div class="mainNav__linkGroup">
				<a href="#" class="mainNav__link">Centers</a>
				<!-- REMOVED FOR NOW
				<nav class="subNav">
					<a href="#" class="subNav__link">
						JBEI
					</a>
					<a href="#" class="subNav__link">
						JCAP
					</a>
					<a href="#" class="subNav__link">
						KBASE
					</a>
					<a href="#" class="subNav__link">
						ABPDU
					</a>
					<a href="#" class="subNav__link">
						SERC
					</a>
					<a href="#" class="subNav__link">
						VIMMS
					</a>
					<a href="#" class="subNav__link">
						CCI
					</a>
					<a href="#" class="subNav__link">
						NCXT
					</a>
					<a href="#" class="subNav__link">
						Genomics Science
					</a>
				</nav>
				-->
			</div>
			<div class="mainNav__linkGroup">
				<a href="#" class="mainNav__link">Media</a>
				<nav class="subNav">
					<a href="#" class="subNav__link">
						News Room
					</a>
					<a href="#" class="subNav__link">
						PBD Theater
					</a>
					<a href="#" class="subNav__link">
						Upcoming Events
					</a>
				</nav>
			</div>
			<div class="mainNav__linkGroup">
				<a href="#" class="mainNav__link">Employment</a>
				<nav class="subNav">
					<a href="#" class="subNav__link">
						Employment Opportunities
					</a>
					<a href="#" class="subNav__link">
						Diversity
					</a>
					<a href="#" class="subNav__link">
						Affiliates (Guests)
					</a>
				</nav>
			</div>
			<div class="mainNav__linkGroup">
				<a href="#" class="mainNav__link">Administration</a>
				<nav class="subNav">
					<a href="#" class="subNav__link">
						Environment, Health, &amp; Safety
					</a>
					<a href="#" class="subNav__link">
						Purchasing
					</a>
					<a href="#" class="subNav__link">
						Property
					</a>
				</nav>
			</div>
			<div class="mainNav__linkGroup">
				<a href="#" class="mainNav__link">One Stop</a>
			</div>
		</div>
	</nav>
</div> <!-- End Header Grid -->